<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Profile</h1>
    <table>
        <tr>
            <td>Full Name</td>
            <td>{{ .User.FullName}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{ .User.Address}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{ .User.Phone}}</td>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ .User.Username}}</td>
        </tr>
    </table>

    <a href="/user/{{ .User.ID}}/edit">Edit</a>
    <a href="/logout/{{ .User.ID}}">Log out</a>
</body>
</html>