<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Profile</h1>
    <form method="POST" action="/user/{{ .User.ID}}/edit">
        <label>Username:</label>
        {{if .User.IsGoogleRegistered}} <span>{{ .User.Username}}</span><br /> {{else}} <br /><input type="email" name="username" value="{{ .User.Username}}"/><br />{{end}}
        <label>Full Name:</label><br />
        <input type="text" name="fullname" value="{{ .User.FullName}}"/><br />
        <label>Phone:</label><br />
        <input type="text" name="phone" value="{{ .User.Phone}}"/><br />
        <label>Address:</label><br />
        <input type="text" name="address" value="{{ .User.Address}}"/><br />
        <input type="submit" value="Save&Continue">
    </form>
    <a href="/user/{{ .User.ID}}"> Cancel </a>
</body>
</html>